body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}

* { box-sizing: border-box; }

.timeline {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 60px;
  background: #d6d6d6;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 8px;
  background: #346abf;
  border-radius: 3px;
  z-index: 1;
}

.timeline article {
  position: relative;
  background: #eeeeee;
  width: calc( 50% - 40px );
  padding: 15px;
}
.timeline article + article {
  margin-top: 20px;
}
.timeline article:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc( 100% + 26px );
  background: #d6d6d6;
  width: 24px;
  height: 24px;
  border: 6px #346abf solid;
  border-radius: 50%;
  z-index: 2;
}
.timeline article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 16px solid #eeeeee;
  border-bottom: 20px solid transparent;
}

.timeline article:nth-child(even) {
  margin-left: calc( 50% + 48px );
}
.timeline article:nth-child(even):before {
  left: auto;
  right: calc( 100% + 26px );
}
.timeline article:nth-child(even):after {
  left: auto;
  right: 100%;
  border-left: none;
  border-right: 16px solid #eeeeee;
}

.timeline article ul {
  margin: 0;
  padding: 0;
}
.timeline article li {
  list-style: none;
  padding: 8px 0;
}
.timeline article li:not(:last-child) {
  border-bottom: 1px #aaa solid;
}
.timeline article li span {
  display: inline-block;
  width: 70px;
  color: #346abf;
}

.logo {
  width: 800px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 0 auto;

}

.logo-csharp {
  width: 150px;
  height: 150px;
}

.logo-python {
  width: 220px;
  height: 150px;
}

.logo-html {
  width: 150px;
  height: 150px;
}

.logo-Wlangage {
  width: 250px;
  height: 110px;
  margin-top: 40px;
}

.logo-dbeaver {
  width: 250px;
  height: auto;
}

.logo-sql {
  width: 240px;
  height: auto;
  margin-top: 30px;
}

.logo-word {
  width: 270px;
  height: auto;
  margin-left: -20px ;
  /*168px;*/
  margin-top: 21px;
}

.logo-excel {
  width: 200px;
  height: auto;
  
}
